@charset "utf-8";

/* 이미지 슬라이더 */
.slider {
  overflow: hidden;
  border-radius: 0 10px 0 10px;
}
.slider .slide_wrap {
  width: 100%; /* w100p */
  height: 400%; /* h400 */
  display: flex;
  flex-direction: column;
  transition: 0.6s;
}
.slider .slide_wrap .slide {
  width: 100%; /* w100p */
  height: 100%; /* h100p */
  background-size: contain;
  background-position: center;
  position: relative;
}
.slider .slide_wrap .slide:nth-child(1) {
  background-image: url("../images/back1.jpg"); /*bgi*/
}
.slider .slide_wrap .slide:nth-child(2) {
  background-image: url("../images/back2.jpg");
}
.slider .slide_wrap .slide:nth-child(3) {
  background-image: url("../images/back3.jpg");
}
.slider .slide_wrap .slide:nth-child(4) {
  background-image: url("../images/back1.jpg");
}
.slider .slide_wrap .slide div {
  width: 100%; /* w100p*/
  height: 150px; /*h150*/
  background-color: #3338;
  position: absolute;
  top: 200px;
}
.slider .slide_wrap .slide div h2 {
  padding: 0 20px;
  width: 100%;
  height: 40px;
  line-height: 40px;
  color: #fff;
}
.slider .slide_wrap .slide div span {
  padding: 20px;
  color: #fff;
  width: 100%;
  height: 110px;
}

/* 공지사항 */
.wrap .main .contents {
  display: flex;
}
.wrap .main .contents .notice {
  padding: 10px 0; /*p10-0*/
  width: 50%;
  height: 100%;
}
.wrap .main .contents .notice h2 {
  width: 120px; /*w120*/
  height: 40px; /*h40*/
  line-height: 40px; /*lh40px*/
  background-color: orange; /*bgc[tab]orange*/
  text-align: center; /*tac*/
  color: #fff; /*c#fff*/
  border-radius: 10px 10px 0 0;
}
.wrap .main .contents .notice ul {
}
.wrap .main .contents .notice ul li {
  padding: 0 5px; /*p0-5*/
  width: 100%;
  height: 35px; /*h35*/
  line-height: 35px; /*lh35px*/
  display: flex;
  transition: 0.6s;
}
.wrap .main .contents .notice ul li:hover {
  background-color: rgba(255, 166, 0, 0.5);
  border-radius: 5px;
}
.wrap .main .contents .notice ul li a {
  width: 75%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.wrap .main .contents .notice ul li span {
  width: 25%;
  text-align: center;
}

/* 예약안내 */
.wrap .main .contents .reserve {
  padding: 10px;
  width: 50%;
  height: 100%;
}

.wrap .main .contents .reserve h2 {
  width: 120px; /*w120*/
  height: 40px; /*h40*/
  line-height: 40px; /*lh40px*/
  background-color: darkolivegreen; /*bgc[tab]orange*/
  text-align: center; /*tac*/
  color: #fff; /*c#fff*/
  border-radius: 10px 10px 0 0;
}
.wrap .main .contents .reserve div {
  height: 175px;
  line-height: 35px;
  background-image: url("../images/banner.jpg");
  background-repeat: no-repeat; /* bgr*/
  background-size: cover; /*bgz*/
  background-position: center; /*bgp*/
  border-radius: 0 0 10px 10px;
}
.wrap .main .contents .reserve div span {
  display: block;
  padding: 10px;
  width: 100%;
  height: 100%;
  background-color: #3338;
  color: #fff;
  position: relative;
  transition: 0.6s;
}
.wrap .main .contents .reserve div span a {
  display: block;
  width: 120px;
  height: 40px;
  line-height: 40px;
  text-align: center; /*tac*/
  background-color: rgba(255, 166, 0, 0.7);
  border-radius: 5px;
  position: absolute;
  left: 50%;
  bottom: 10px;
  transform: translateX(-50%);
  transition: 0.6s;
  color: #fff;
}
.wrap .main .contents .reserve div span:hover a {
  background-color: rgba(85, 107, 47, 0.7);
}
.wrap .main .contents .reserve div span:hover {
  background-color: rgba(255, 166, 0, 0.7);
}

/* 주변명소 */
.wrap .main .sights {
  padding: 10px 0;
}
.wrap .main .sights h2 {
  width: 120px; /*w120*/
  height: 40px; /*h40*/
  line-height: 40px; /*lh40px*/
  background-color: gray; /*bgc[tab]orange*/
  text-align: center; /*tac*/
  color: #fff; /*c#fff*/
  border-radius: 10px 10px 0 0;
}
.wrap .main .sights .sights_wrap {
  display: flex;
  justify-content: space-between;
  padding: 10px 0; /*p10-0*/
}
.wrap .main .sights .sights_wrap .img {
  width: 170px; /* w170*/
  height: 170px; /*h170*/
  background-position: center; /*bgp*/
  background-repeat: no-repeat; /*bgr*/
  background-size: cover; /*bgz*/
  border-radius: 0 10px 0 10px;
}
.wrap .main .sights .sights_wrap .img:nth-child(1) {
  background-image: url("../images/gallery1.jpg");
}
.wrap .main .sights .sights_wrap .img:nth-child(2) {
  background-image: url("../images/gallery2.jpg");
}
.wrap .main .sights .sights_wrap .img:nth-child(3) {
  background-image: url("../images/gallery3.jpg");
}
.wrap .main .sights .sights_wrap .img:nth-child(4) {
  background-image: url("../images/gallery4.jpg");
}
.wrap .main .sights .sights_wrap .img:nth-child(5) {
  background-image: url("../images/gallery1.jpg");
}
.wrap .main .sights .sights_wrap .img a {
  display: block;
  width: 170px;
  height: 170px;
  line-height: 170px;
  text-align: center;
  color: #fff;
}
.wrap .main .sights .sights_wrap .img:hover a {
  border: 1px solid orange;
  background-color: #3338;
}
